<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tvisha.click2magic">

    <!-- newwork -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- calling -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <!-- notification permissions -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <!-- clear cache -->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <!-- to check app activity list -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- read google photos -->
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_APP_BADGE" />
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name=".socket.AppSocket"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"

        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:launchMode="singleInstance"
        android:usesCleartextTraffic="true">

       <!-- android:networkSecurityConfig="@xml/network_security_config"-->

        <!-- tools:replace="android:appComponentFactory" -->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>


        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"

            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BasicActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".ui.ChatActivity"
            android:screenOrientation="portrait"
             />

        <activity
            android:name=".ui.PdfViewActivity"
            android:screenOrientation="portrait"
            />

        <service
            android:name=".service.SocketService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.ClosingService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".receiver.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.StopService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.ServiceStopped" />
                <action android:name="ac.in.ActivityRecognition.RestartSensor" />
                <action android:name="com.google.android.gms.measurement.START" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.NetworkListnerReceiver"
            android:label="NetworkListnerReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.NetworkSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.BackgroundServiceForOreo"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!--
            <service
            android:name=".service.ClosingService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false" />
        -->

        <service android:name=".Fcm.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_firebase_smallnotification" />

        <receiver
            android:name=".receiver.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tvisha.click2magic.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <!--
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logoo" />
        -->

        <activity
            android:name=".ui.ArchivesActivity"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".ui.HistotyChatActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.AttachmentViewActivity"
            android:screenOrientation="portrait"
           />
        <activity
            android:name=".ui.ImageviewActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.SyncDataActivity"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".ui.FilterActivity"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name=".ui.DocsActivity"
            android:screenOrientation="portrait"
            />

    </application>

</manifest>